<div class="schedule-calendar-header">
  <div class="left-header">
    <div class="header-title">
      カレンダー
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">予定を登録する</a>
    </div>
  </div>
</div>

<div class="calendar">
</div>

