<div class="today-schedule-header">
  <div class="today-schedule">
    <a href="#">↓今日の日程↓</a>
  </div>
  <div class="today-schedule-record">
    <a href="#">今日の作業を記録する</a>
  </div>
</div>

<div class="schedule">
  <div class="schedule-work-today">
    <h6 class="title">☆今日の作業内容☆<h6>
    <h4 class=''>
      <%= "肥料散布"%>
    </h4>
  </div>
  <div class="schedule-item-today">
    <h6 class="title">☆今日の作業道具☆<h6>
    <h4 class=''>
      <%= "肥料散布機"%>
    </h4>
  </div>
  <div class="schedule-place-today">
    <h6 class="title">☆今日の作業場所☆<h6>
    <h4 class=''>
      <%= "A農場"%>
    </h4> 
  </div>
  <div class="schedule-memo-today">
    <h6 class="title">☆メモ書き☆<h6>
    <h4 class=''>
      <%= "雨が降っていたら雨具を用意すること"%>
    </h4> 
  </div>
</div>